<div class="side-bar" [class.collapsed]="isCollapsed">
    <div class="side-bar-header">
        <div class="side-bar-logo">
            <h1 class="logo-text" *ngIf="!isCollapsed">Zephyr</h1>
            <span class="logo-icon" *ngIf="isCollapsed">Z</span>
        </div>
        <button class="collapse-btn" (click)="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </button>
    </div>
    
    <nav class="side-bar-nav">
        <ul class="nav-list">
            <!-- Home -->
            <li class="nav-item" [class.active]="isActiveRoute('/home')">
                <a routerLink="/home" class="nav-link" [title]="isCollapsed ? 'Home' : ''">
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                        </svg>
                    </div>
                    <span class="nav-text" *ngIf="!isCollapsed">Home</span>
                </a>
            </li>

            <!-- Terms & Conditions -->
            <li class="nav-item" [class.active]="isActiveRoute('/terms')">
                <a routerLink="/terms" class="nav-link" [title]="isCollapsed ? 'Terms & Conditions' : ''">
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z"/>
                        </svg>
                    </div>
                    <span class="nav-text" *ngIf="!isCollapsed">Terms & Conditions</span>
                </a>
            </li>

            <!-- Mess Gallery -->
            <li class="nav-item" [class.active]="isActiveRoute('/mess')">
                <a routerLink="/mess" class="nav-link" [title]="isCollapsed ? 'Mess Gallery' : ''">
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                    </div>
                    <span class="nav-text" *ngIf="!isCollapsed">Mess Gallery</span>
                </a>
            </li>

            <!-- Rooms -->
            <li class="nav-item" [class.active]="isActiveRoute('/rooms')">
                <a routerLink="/rooms" class="nav-link" [title]="isCollapsed ? 'Rooms' : ''">
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207z"/>
                        </svg>
                    </div>
                    <span class="nav-text" *ngIf="!isCollapsed">Rooms</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="side-bar-footer">
        <button class="logout-btn" (click)="logout()" [title]="isCollapsed ? 'Logout' : ''">
            <div class="logout-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                </svg>
            </div>
            <span class="logout-text" *ngIf="!isCollapsed">Logout</span>
        </button>
    </div>
</div>